<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div id="logoutDiv">
        <a class="nav-item nav-link" id="nav-notes-ab" data-toggle="tab" th:href="@{logou}" role="tab"
           aria-controls="nav-notes" aria-selected="false" th:text="#{label.Logout}"></a>
<!--        <span class="nav-li nk">[[${#request.remoteUser}]]</span>-->
        <h2 th:text="#{greeting}"></h2><h2 sec:authentication="name"></h2>
<!--        <form th:action="@{/logout}" action="#" method="POST">-->
<!--            <button type="submit" class="btn btn-secondary float-right">Logout</button>-->
<!--        </form>-->
    </div>
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <!-- NAVIGATION AREA -->
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link " id="nav-files-tab" data-toggle="tab" th:href="@{files}" role="tab"
                   aria-controls="nav-files" aria-selected="true" th:text="#{label.Files}"></a>
<!--                <a class="nav-item nav-link " id="nav-files-tab" data-toggle="tab" th:href="@{files}" role="tab"-->
<!--                   aria-controls="nav-files" aria-selected="true">Files</a>-->
                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" th:href="@{notes}" role="tab"
                   aria-controls="nav-notes" aria-selected="false" th:text="#{label.Notes}">></a>
                <a class="nav-item nav-link active" id="nav-credentials-tab" data-toggle="tab" th:href="@{credentials}"
                   role="tab" aria-controls="nav-credentials" aria-selected="false" th:text="#{label.credential}">></a>
            </div>
        </nav>
        <a th:href="@{addCredential}" id="add-note-button" style="margin: 0.25em;" type="button"
           class="btn btn-primary float-right">
            + Add a New Credential
        </a>

        <div class="table-responsive">
            <table class="table table-striped" id="credentialTable">
                <thead>
                <tr>
                    <th style="width: 20%" scope="col"></th>
                    <th style="width: 35%" scope="col">URL</th>
                    <th style="width: 20%" scope="col">Username</th>
                    <th style="width: 25%" scope="col">Password</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="credentials: ${credentials}">
                    <td>
                        <a th:href="'/editCredential/'+ ${credentials.credentialid}" type="button"
                           class="btn btn-success">Edit</a>
                        <a th:href="'/deleteCredential/' + ${credentials.credentialid}"
                           onclick="return confirm('Are you sure want to delete Credential')" class="btn btn-danger">Delete</a>
                    </td>
                    <th th:text="${credentials.url}">Example Credential URL</th>
                    <td th:text="${credentials.username}">Example Credential Username</td>
                    <td th:text="${credentials.password}">Example Credential Password</td>

                </tr>
                </tbody>
            </table>
        </div>


    </div>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</div>
</body>
</html>