<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<!-- CREDENTIAL INPUT AREA -->
<div class="modal-body">
    <form th:action="@{/updateCredential}" method="PUT">
        <input type="hidden" name="credentialid" th:value="${credential.credentialid}" id="credential-id">
        <div class="form-group">
            <label class="col-form-label">URL</label>
            <input type="text" name="url" th:value="${credential.url}" class="form-control" id="credential-url"
                   maxlength="100" required>
        </div>
        <div class="form-group">
            <label class="col-form-label">Username</label>
            <input type="text" name="username" th:value="${credential.username}" class="form-control"
                   id="credential-username" maxlength="30" required>
        </div>
        <div class="form-group">
            <label class="col-form-label">Password</label>
            <input type="text" name="password" th:value="${credential.password}" class="form-control"
                   id="credential-password" maxlength="30" required>
        </div>
        <div class="modal-footer">
            <a th:href="@{../credentials}" id="close-credential-button" type="button" class="btn btn-secondary"
               data-dismiss="modal">Back to Credential</a>
            <button type="submit" class="btn btn-primary">
                Save Credential
            </button>
        </div>
    </form>
</div>

<script th:src="@{/js/bootstrap.min.js}"></script>

</body>
</html>