<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Home</title>
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container">
    <div id="logoutDiv">
        <form th:action="@{/logout}" action="#" method="POST">
            <button id="logout-button" type="submit" class="btn btn-secondary float-right">Logout</button>
        </form>
    </div>
    <div id="contentDiv" style="clear: right;">
        <nav style="clear: right;">
            <!-- NAVIGATION AREA -->
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-files-tab" data-toggle="tab" th:href="@{files}" role="tab"
                   aria-controls="nav-files" aria-selected="true">Files</a>
                <a class="nav-item nav-link" id="nav-notes-tab" data-toggle="tab" th:href="@{notes}" role="tab"
                   aria-controls="nav-notes" aria-selected="false">Notes</a>
                <a class="nav-item nav-link" id="nav-credentials-tab" data-toggle="tab" th:href="@{credentials}"
                   role="tab" aria-controls="nav-credentials" aria-selected="false">Credentials</a>
            </div>
        </nav>
    </div>
</div>
</body>
</html>